<html>
    <head>
        <style type="text/css">
            .wrap span {
                display: inline-block;
            }

            .w260 {
                width: 260px;
            }

            .w20 {
                width: 20px;
            }

            .wauto {
                width: auto;
            }
        </style>
    </head>
    <body>
        <table style="width: 99.8%; height:99.8%;">
            <tr>
                <td>
                    <div style="border-radius: 10px 10px 10px 10px; font-size: 13px; color: #555555; width: 666px; font-family: 'Century Gothic', 'Trebuchet MS', 'Hiragino Sans GB', 微软雅黑, 'Microsoft Yahei', Tahoma, Helvetica, Arial, 'SimSun', sans-serif; margin: 50px auto; border: 1px solid #EEE; max-width: 100%; background: #FFFFFF repeating-linear-gradient(-45deg, #FFF, #FFF 1.125rem, transparent 1.125rem, transparent 2.25rem); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);">
                        <div style="width:100%; background:#49BDAD; color:#FFFFFF; border-radius: 10px 10px 0 0; background-image: -moz-linear-gradient(0deg, rgb(67, 198, 184), rgb(255, 209, 244)); background-image: -webkit-linear-gradient(0deg, rgb(67, 198, 184), rgb(255, 209, 244)); height: 66px;">
                            <p style="font-size: 15px; word-break: break-all; padding: 23px 32px; margin: 0; background-color: hsla(0, 0%, 100%, .4); border-radius: 10px 10px 0 0;">
                                您的<a style="text-decoration:none; color: #FFFFFF;" href="<%= siteUrl %>"> <%= siteName %> </a>上有新的评论啦！
                            </p>
                        </div>
                        <div style="margin:40px auto; width:90%;">
                            <style type="text/css">
                                a {
                                    color: #888;
                                }
                                
                                a:link {
                                    text-decoration: none !important;
                                }

                                a:visited {
                                    text-decoration: none !important;
                                }

                                a:hover {
                                    text-decoration: none !important;
                                }

                                a:active {
                                    text-decoration: none !important;
                                }
                            </style>
                            <p><span style="color: #888"><%= name %></span> 发表评论：</p>
                            <div style="background: #FAFAFA repeating-linear-gradient(-45deg, #FFF, #FFF 1.125rem, transparent 1.125rem, transparent 2.25rem); box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); margin: 20px 0px; padding: 15px; border-radius: 5px; font-size: 14px; color: #555555;">
                                <%- text %>
                            </div>
                            <p><a style="text-decoration:none; color: #12ADDB;" href="<%= url %>" target="_blank">[查看评论]</a></p>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </body>
</html>